<h1><em><%= @band.name() %></em></h1><br />

<h3>Edit band name:</h3>
<form action="/bands/<%= @band.id() %>/edit_name" method="post">
  <input name="_method" type="hidden" value="patch" />

  <div class="form-group">
    <input id="band_name" name="band_name" class="form-control" type="text" />
  </div>

  <button type="submit" class="btn btn-warning">Edit</button>
</form><br />

<h3>Venues played:</h3>

<ul>
  <% if @venues_played.any?() %>
    <% @venues_played.order(:name).each() do |venue| %>
      <li><%= venue.name() %></li>
    <% end %>
  <% else %>
    <li><em>No venues played!</em></li>
  <% end %>
</ul>

<a href="/bands">Back</a>
