<h1>Bands</h1><br />

<h3>Add a New Band:</h3>

<form action="/bands" method="post">
  <div class="form-group">
    <label for="">Band name:</label>
    <input id="band_name" name="band_name" class="form-control" type="text" />
  </div>

  <button type="submit" class="btn btn-primary">Add Band</button>
</form><br />

<h3>Current Bands in System:</h3>

<ul>
  <% if @bands.any?() %>
    <% @bands.order(:name).each() do |band| %>
      <li><%= band.name() %></li>
    <% end %>
  <% else %>
    <li><em>The band list is empty!</em></li>
  <% end %>
</ul>

<a href="/">Back</a>
