<div class="jumbotron">
  <h1>Band Tracker</h1><br />
  <a href="/bands">
    <button type="button" class="btn btn-primary btn-lg">Bands</button>
  </a>
  <a href="/venues">
    <button type="button" class="btn btn-info btn-lg">Add Venues</button>
  </a>
</div>
